.back-img{
     background-image: url('1-2.jpg');
}

.back-img2{
     background-image: url('2-2.png');
}

.back-img3{
     background-image: url('3-2.jpg');
}

.back-img4{
     background-image: url('4-2.jpg');
}

.back-img5{
     background-image: url('5-2.jpg');
}

.back-img6{
     background-image: url('6-2.jpg');
}

.back-img7{
     background-image: url('7-2.jpeg');
}

.back-img8{
     background-image: url('8-2.jpg');
}