@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
     user-select: none;
}

body{ 
     color: #CDBA9A;
     background: #09001d;
     overflow: hidden;
}

.header{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 20px 10%;
     background: transparent;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 100;
     /* user-select: none; */
}

.logo{
     font-size: 32px;
     color: #CDBA9A;
     text-shadow: 0 0 10px rgba(2, 2, 2, 0.744);
     text-decoration: none;
     font-weight: 700;
     filter: drop-shadow(0 0 5px #09001d);
}

.navbar a{
     font-size: 18px;
     text-decoration: none;
     color: #CDBA9A;
     text-shadow: 0 0 10px rgb(2, 2, 2);
     font-weight: 500;
     margin-left: 35px;
     transition: .3s;
}

.navbar a:hover,
.navbar a.active{
     color: #50060b;
}

.sidebar{
     position: fixed;
     top: 0;
     right: 0;
     height: 100vh;
     width: 250px;
     z-index: 999;
     background-color: rgba(38, 38, 38, 0.2);
     backdrop-filter: blur(10px);
     box-shadow: -10px 0 10px rgba(0, 0, 0, .1);
     display: none;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
}

.sidebar a{
     color: #000000;
     padding: 10px 30px;
     margin-left: 0px;
     width: 100%;
}

.sidebar a:hover{
     background-color: rgba(0, 0, 0, 0.234);
}

.main{
     min-height: 100vh;
     background: url('background 2.jpg') no-repeat;
     background-size: cover;
     background-position: center;
     pointer-events: auto;
     transition: .3s ease;
}

.main.active{
     filter: blur(9.5px);
     pointer-events: none;
}

.container{
     display: flex;
     height: 100vh;
     width: 200%;
}

.home{
     position: relative;
     left: -50%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.home-content{
     max-width: 600px;
     display: flex;
     align-items: center;
     flex-direction: column;
}

.home-content h1{
     font-size: 65px;
     font-weight: 700;
     text-shadow: 0 -11px 50px rgba(0, 0, 0, .1);
     text-shadow: 0 0 10px rgba(2, 2, 2, 0.744);
     color: #CDBA9A;
     
}

.home-content p{
     font-size: 16px;
     text-align: center;
     text-shadow: 0 0 10px rgba(2, 2, 2, 0.744);
     margin-bottom: 30px;
     
}

.home-content .start-btn{
     width: 190px;
     height: 55px;
     background: #50060b;
     border: 2px solid #CDBA9A;
     outline: none;
     border-radius: 6px;
     box-shadow: 0  0 10px #50060b;
     font-size: 18px;
     color: #CDBA9A;
     letter-spacing: 1px;
     font-weight: 600;
     cursor: pointer;
     transition: .5s;
}

.home-content .start-btn:hover{
     background: transparent;
     backdrop-filter: blur(3px);
     box-sizing: none;
}

.popup-info{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%) scale(.9);
     width: 500px;
     background: #000000a8;    /*vymyslet lepsi barvu */
     border: solid #CDBA9A 2px;
     box-shadow: 0 0 119px rgba(1, 1, 1, .6);
     border-radius: 6px;
     padding: 10px 20px;
     opacity: 0;
     pointer-events: none;
     transition: .3s ease;
}

.quiz-group{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%) scale(.9);
     width: 1000px;
     background: #000000a8;
     border-radius: 6px;
     padding: 25px 20px;
     opacity: 0;
     pointer-events: none;
     transition: .3s ease;
     
}

.popup-info.active,
.quiz-group.active{
     opacity: 1;
     pointer-events: auto;
     transform: translate(-50%, -50%) scale(1);
}


.popup-info h2{
     text-align: center;
     align-items: center;
     font-size: 50px;
     color: #50060b;
}

.quiz-group h2{
     font-size: 25px;
     color: #50060b;
     text-align: center;
     align-items: center;
}

.popup-info .info{
     display: inline-block;
     font-size: 16px;
     color: #CDBA9A;
     font-weight: 500;
     margin: 4px 0;
}

.popup-info .btn-group,
.quiz-group .btn-group{
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-top: 1px solid #CDBA9A;
     margin-top: 10px;
     padding: 15px 0 7px;
}
.quiz-group .btn-group .info-btn{
     position: relative;
}

.popup-info .btn-group .info-btn{
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 130px;
     height: 50px;
     background: #50060b;
     border: 2px solid #CDBA9A;
     outline: none;
     border-radius: 6px;
     text-decoration: none;
     font-size: 16px;
     color: #CDBA9A;
     font-weight: 600;
     box-shadow: 0 0 10px rgba(0, 0, 0, .1);
     cursor: pointer;
     transition: .5s;
     text-align: center;
}

.quiz-group .btn-group .info-btn{
     display: grid;
     justify-content: center;
     align-items: center;
     width: 110px;
     height: 190px;
     background: #50060b;
     /* border: 2px solid #c40094; */
     outline: none;
     border-radius: 6px;
     text-decoration: none;
     font-size: 14px;
     color: #CDBA9A;
     font-weight: 600;
     box-shadow: 0 0 10px rgba(0, 0, 0, .1);
     cursor: pointer;
     transition: .5s;
     text-align: center;    
     margin: 15px 0; 
     transition: transform 1300ms;
     transform-style: preserve-3d;
     position: relative;
}

.front{
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     width: 100%;
     height: 100%;
     backface-visibility: hidden;
     position: absolute;
}
.back{
     width: 100%;
     height: 100%;    
     position: absolute;
     background-size: cover;
     background-position: center;
     backface-visibility: hidden;
     border-radius: 6px;
     transform: rotateY(180deg);
}

.quiz-group .btn-group .info-btn:not(:first-child){
     margin-left: 10px;
}

.popup-info .btn-group .info-btn:nth-child(1){
     background: transparent;
     color: #50060b;
}

.popup-info .btn-group .info-btn:nth-child(1):hover{
     background: #50060b;
     color: #CDBA9A;
     box-shadow: 0  0 10px #50060b;
}

.popup-info .btn-group .info-btn:nth-child(2):hover{
     color: #50060b;
     background: transparent;
     box-shadow: 0  0 10px #50060b;
}

.quiz-group .btn-group .info-btn:nth-child(n+1):hover{
     background: #3c0508;
}

.quiz-group .btn-group .rotate:hover > .info-btn{
     transform: rotateY(180deg);
}

.hide-btn{
     text-decoration: none;
     position: fixed;
     top: 5px;
     right: 7px;
     color: #fff;
}

.back-btn{
     text-decoration: none;
     position: fixed;
     top: 5px;
     left: 7px;
}

.quiz-section{
     position: relative;
     left: -200%;
     width: 100%;
     background: #090316;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 100;
     transition: .8s ease-in-out;
     transition-delay: .25s;
}

.quiz-section.active{
     left: 0;
}

.quiz-section .quiz-box{
     position: relative;
     width: 500px; 
     background: transparent;
     border: 2px solid #50060b;
     border-radius: 6px;
     display: flex;
     flex-direction: column;
     padding: 20px 30px;
     opacity: 0;
     pointer-events: none;
     transform: scale(.9);
     transition: .3s ease;
     transition-delay: 0s;
}

.quiz-section .quiz-box.active{
     opacity: 1;
     pointer-events: auto;
     transform: scale(1);
     transition: 1s ease;
     transition-delay: 1s;
}

.quiz-box h1{
     font-size: 32px;
     text-align: center;
     background: linear-gradient(45deg, transparent, #50060b, transparent);
     border-radius: 6px;
}

.quiz-box .quiz-header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 0;
     border-bottom: 2px solid #50060b;
     margin-bottom: 30px;
}

.quiz-header span{
     font-size: 18px;
     font-weight: 500;
}

.quiz-header .header-score{
     background: #50060b;
     border-radius: 3px;
     padding: 7px;
     text-shadow: 0 0 10px rgba(2, 2, 2, 0.744);
}

.quiz-box .question-text{
     font-size: 24px;
     font-weight: 600;
}

.option-list .option{
     width: 100%;
     padding: 12px;
     background: transparent;
     border: 2px solid rgba(255, 255, 255, .2);
     border-radius: 4px;
     font-size: 17px;
     margin: 15px 0;
     cursor: pointer;
     transition: .3s;
}

.option-list .option:hover{
     background: rgba(255, 255, 255, .1);
     border-color: rgba(255, 255, 255, .1);
}

.option-list .option.correct{
     background: transparent;
     color: #00a63d;
     border-color: #00a63d;
}

.option-list .option.incorrect{
     background: transparent;
     color: #c22007;
     border-color: #c22007;
}

.option-list .option.disabled{
     pointer-events: none;
}

.quiz-box .quiz-footer{
     display: flex;
     justify-content: space-between;
     align-items: center;    
     border-top: 2px solid #50060b;
     padding-top: 20px;
     margin-top: 25px;
}

.quiz-footer .question-total{
     font-size: 16px;
     font-weight: 600;
}

.quiz-footer .next-btn{
     width: 100px;
     height: 45px;
     background: rgba(255, 255, 255, .1);
     border: 2px solid rgba(255, 255, 255, .1);
     outline: none;
     border-radius: 6px;
     font-size: 16px;
     color:rgba(255, 255, 255, .3);
     font-weight: 600;
     cursor: pointer;
     pointer-events: none;
     transition: .5s;
}

.quiz-footer .next-btn.active{
     pointer-events: auto;
     background: #50060b;
     border-color: #50060b;
     color: #CDBA9A;
     text-shadow: 0 0 10px rgba(2, 2, 2, 0.744);

}

.quiz-footer .next-btn.active:hover{
     background: #3c0508;
     border-color: #3c0508;
     box-shadow: rgba(205, 185, 152, .1) 0px 10px 36px 0px, rgba(205, 186, 154, .1) 0px 0px 10px 5px;
}

.quiz-section .result-box{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%) scale(.9);
     width: 500px;
     background: transparent;
     border: 2px solid #50060b;
     border-radius: 6px;
     padding: 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
     opacity: 0;
     pointer-events: none;
     transition: .3s ease;
}

.quiz-section .result-box.active{
     opacity: 1;
     pointer-events: auto;
     transform: translate(-50%, -50%) scale(1);
}


.result-box h2{
     font-size: 52px;
     color: #50060b;
}

.result-box .percentage-container{
     width: 300px;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 20px 0 40px;
}

.percentage-container .circular-progress{
     position: relative;
     width: 250px;
     height: 250px;
     background: conic-gradient(#50060b 3.6deg, rgba(255, 255, 255, .1) 0deg);
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.percentage-container .circular-progress::before{
     content: '';
     position: absolute;
     width: 210px;
     height: 210px;
     background: #09001d;
     border-radius: 50%;@media(max-width: 800px){
     .hideOnMobile{
          display: none;
     }
}
}

.circular-progress .progress-value{
     position: relative;
     font-size: 45px;
     font-weight: 600;
}

.percentage-container .score-text{
     font-size: 26px;
     font-weight: 600;
     margin-top: 20px;
}

.result-box .buttons{
     display: flex;
}

.buttons button {
     width: 130px;
     height: 47px;
     background: #50060b;
     border: 2px solid #CDBA9A;
     outline: none;
     border-radius: 6px;
     font-size: 16px;
     color: #CDBA9A;
     font-weight: 600;
     margin: 0 20px 20px;
     cursor: pointer;
     transition: .5s;
}

.buttons button:nth-child(1):hover{
     background: transparent;
     border-color: #CDBA9A;
     color: #50060b;
}

.buttons button:nth-child(2){
     background: transparent;
     color: #50060b;
}

.buttons button:nth-child(2):hover{
     background: #50060b;
     color: #CDBA9A;
}

.menu-button{
     display: none;
}

@media(max-width: 800px){
     .hideOnMobile{
          display: none;
     }
     .menu-button{
          display: block;
     }
}

@media(max-width: 400px){
     .sidebar{
          width: 100%;
     }
}
 
  