@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

body{ 
     color: #fff;
     background: #09001d;
     overflow: hidden;
}

.header{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 20px 10%;
     background: transparent;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 100;
     /* user-select: none; */
}

.logo{
     font-size: 32px;
     color: #fff;
     text-decoration: none;
     font-weight: 700;
     filter: drop-shadow(0 0 5px #09001d);
}

.navbar a{
     font-size: 18px;
     text-decoration: none;
     color: #fff;
     font-weight: 500;
     margin-left: 35px;
     transition: .3s;
}

.navbar a:hover,
.navbar a.active{
     color: #c40094;
}

.main{
     min-height: 100vh;
     background: url('background.jpg') no-repeat;
     background-size: cover;
     background-position: center;
     pointer-events: auto;
     transition: .3s ease;
}

.main.active{
     filter: blur(9.5px);
     pointer-events: none;
}

.container{
     display: flex;
     height: 100vh;
     width: 200%;
}

.home{
     position: relative;
     left: -50%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.home-content{
     max-width: 600px;
     display: flex;
     align-items: center;
     flex-direction: column;
}

.home-content h1{
     font-size: 78px;
     font-weight: 700;
     text-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.home-content p{
     font-size: 16px;
     text-align: center;
     text-shadow: 0 0 10px rgba(0, 0, 0, .3);
     margin-bottom: 30px;
}

.home-content .start-btn{
     width: 190px;
     height: 55px;
     background: #c40094;
     border: 2px solid #fff;
     outline: none;
     border-radius: 6px;
     box-shadow: 0  0 10px #c40094;
     font-size: 18px;
     color: #fff;
     letter-spacing: 1px;
     font-weight: 600;
     cursor: pointer;
     transition: .5s;
}

.home-content .start-btn:hover{
     background: transparent;
     backdrop-filter: blur(3px);
     box-sizing: none;
}

.popup-info{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%) scale(.9);
     width: 500px;
     background: #fff;
     border-radius: 6px;
     padding: 10px 20px;
     opacity: 0;
     pointer-events: none;
     transition: .3s ease;
}

.popup-info.active{
     opacity: 1;
     pointer-events: auto;
     transform: translate(-50%, -50%) scale(1);
}

.popup-info h2{
     font-size: 50px;
     color: #c40094;
}

.popup-info .info{
     display: inline-block;
     font-size: 16px;
     color: #333;
     font-weight: 500;
     margin: 4px 0;
}

.popup-info .btn-group{
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-top: 1px solid #999;
     margin-top: 10px;
     padding: 15px 0 7px;
}

.popup-info .btn-group .info-btn{
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 130px;
     height: 45px;
     background: #c40094;
     border: 2px solid #c40094;
     outline: none;
     border-radius: 6px;
     text-decoration: none;
     font-size: 16px;
     color: #fff;
     font-weight: 600;
     box-shadow: 0 0 10px rgba(0, 0, 0, .1);
     cursor: pointer;
     transition: .5s;
}

.popup-info .btn-group .info-btn:nth-child(1){
     background: transparent;
     color: #c40094;
}

.popup-info .btn-group .info-btn:nth-child(1):hover{
     background: #c40094;
     color: #fff;
}

.popup-info .btn-group .info-btn:nth-child(2):hover{
     background: #950170;
     border-color: #950170;
}

.quiz-section{
     position: relative;
     left: -50%;
     width: 100%;
     background: #09001d;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 100;
     transition: .8s ease-in-out;
     transition-delay: .25s;
}

.quiz-section.active{
     left: 0;
}

.quiz-section .quiz-box{
     position: relative;
     width: 500px;
     background: transparent;
     border: 2px solid #c40094;
     border-radius: 6px;
     display: flex;
     flex-direction: column;
     padding: 20px 30px;
}

.quiz-box h1{
     font-size: 32px;
     text-align: center;
     background: linear-gradient(45deg, transparent, #c40094, transparent);
     border-radius: 6px;
}

.quiz-box .quiz-header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 0;
     border-bottom: 2px solid #c40094;
}

.quiz-header span{
     font-size: 18px;
     font-weight: 500;
}

.quiz-header .header-score{
     background: #c40094;
     border-radius: 3px;
     padding: 7px;
}

.quiz-box .question-text{
     font-size: 24px;
     font-weight: 600;
}